
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #0026ff;
}

.main {
  margin-left: 350px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
    </style>
</head>
<body>

    <div class="sidebar">
        <a href="/İstatistik/Index/"><i class="glyphicon glyphicon-home"></i>&nbsp; Ana Sayfa</a>
        <a href="/Kategori/Index/"><i class="glyphicon glyphicon-list"></i>&nbsp; Kategoriler</a>
        <a href="/Kitap/Index/"><i class="glyphicon glyphicon-book"></i>&nbsp; Kitaplar</a>
        <a href="/Yazar/Index/"><i class="glyphicon glyphicon-pencil"></i>&nbsp; Yazarlar</a>
        <a href="/Uye/Index"><i class="glyphicon glyphicon-user"></i>&nbsp; Üyeler</a>
        <a href="/Personel/Index/"><i class="glyphicon glyphicon-tower"></i>&nbsp; Personeller</a>
        <a href="/Odunc/OduncVer/"><i class="glyphicon glyphicon-circle-arrow-right"></i>&nbsp; Ödünç Kitap Ver</a>
        <a href="/Odunc/Index/"><i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp; Ödünç Kitap Al</a>
        <a href="/İstatistik/Index/"><i class="glyphicon glyphicon-sort"></i>&nbsp; İstatistikler</a>   
        <a href="/islem/Index/"><i class="glyphicon glyphicon-dashboard"></i>&nbsp; İşlemler</a>
        <a href="/İstatistik/Galeri/"><i class="glyphicon glyphicon-picture"></i>&nbsp; Galeri</a>
        <a href="/Vitrin/Index"><i class="glyphicon glyphicon-gift"></i>&nbsp; Vitrin</a>
        
        
        
    </div>

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>

