@model MVCKutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<form class="form-group" method="post">
    <div></div>

    <div style="margin-top:15px">
        <label>KATEGORİ ADI</label>
        @Html.TextBoxFor(y => y.AD, new { @class = "form-control" })
        @Html.ValidationMessageFor(y => y.AD)
        
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Kategori Ekle</button>

    </div>

</form>

